.body
{
    margin: 0;
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 19px;
    color: #555;
	
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.main-container 
{
	display: flex;
    align-items: center; 
    justify-content: flex-start;
    flex-direction: column;
	height: 700px;
    width: 100%;
}

.header
{
    display: flex;
    align-items: center;
    left: 480px;
    width: 960px;
    height: 50px;
}

.header__button
{
    display: flex;
    align-items: center;
    width: auto;
    height: inherit;
    background-color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    padding: 0 21px;
    color: #333;
    text-indent: 10px;
}

.header__button_about
{
    display: flex;
    align-items: center;
    width: auto;
    height: inherit;
    background-color: #15a98c;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    padding: 0 21px;
    color: #333;
    text-indent: 10px;
}

.header__button__text_about 
{
    color: white;
}

.main-container__image
{
    display: block;
    position: relative;
    height: 400px;
    
    z-index: -1;
}

.main-title 
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-indent: 3px;
    color: #333;
}

.main-title:after
{
	content: " ";
	display: block;
	width: 60px;
	height: 6px;
	background: #45c3aa;
	border-radius: 10px;
	margin-top: 20px;
}

.section-title
{
  	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	font-size: 36px;
	color: #333;
	text-transform: uppercase;
	margin: 101px 10px 0 0;
}

.section-title:after
{
	content: " ";
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #c4c4c4;
	border-radius: 10px;
	margin-bottom: 12px;
	margin-left: 31px;
}

.section-title:before
{
	content: " ";
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #c4c4c4;
	border-radius: 10px;
	margin-bottom: 12px;
	margin-right: 31px;
}

.sub-title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #333;
	margin-top: 44px;
    margin-left: -1px;
	letter-spacing: 0px;
	line-height: 0;
}

.nametage-title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;

    margin-top: 39px;
    margin-left: -3px;
    line-height: 0;
    color: #333;
}

.info-lists__title
{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #15a98b;
    padding-left: 18px;
}

.link__line-under
{
    text-decoration: underline;
}

.link:hover
{
    cursor: pointer;
    color: #098d71;
}

.main
{
    display: flex;
	flex-direction: row;
	justify-content: space-between;

    height: auto;
    width: 960px;
	
	margin: -190px 20px 0;
}

.left-container
{
    display: flex;
	flex-direction: column;

    width: 330px;
    height: inherit;
}

.right-container
{
    display: flex;
	flex-direction: column;

    width: 570px;
    height: inherit;
}


.photo-container
{
    width: 100%;
    height: 350px;
}

.photo-container__image
{
    width: inherit;
    height: inherit;
    object-fit: cover;

	border-radius: 5px;
}

.info-lists
{
    display: flex;
	flex-direction: column;
	margin: 20px 0 0 -18px;

    width: 100%;
    height: auto;
}

.info-lists__element
{
	line-height: 36px;
}

.info-lists__list-unordered
{
	margin: -11px 0 16px 0;
}
.info-lists__list-ordered
{
	margin: -12px 0 0 -2px;
}

.quote-container
{
    width: 100%;
    height: 300px;
}

.quote
{
    display: block;
    text-indent: 40px;
	margin: -3px 0 0 -37px;
    color: white;
}

.quote__content
{
    font-style: italic;
    font-size: 28px;
    text-indent: 0;
	line-height: 42px;
}

.quote__owner
{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	line-height: 0;
	margin: -5px 0 0 3px;
}

.text-container
{
    display: flex;
	flex-direction: column;
    margin-top: -109px;

    width: 100%;
    height: auto;
}

.text-container__text
{
	margin-top: 12px;
	line-height: 32px;
}

.text-container__text_sub
{
	margin-top: 6px;
	line-height: 32px;
}

.link
{
    color: #15a98b;
	line-height: 76px;
}

.sub-container
{
    width: 1200px;
    height: auto;
    margin-top: 48px;
    text-indent: 1px;
}

.sub-content
{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.sub-content__block
{
    display: flex;
    flex-direction: column;
    width: 285px;
    margin: 0;
}

.sub-content__block__image
{
    width: inherit;
    height: 190px;
    border-radius: 5px;
}
.sub-content__block__text
{
    font-family: Georgia, serif;
    margin-top: 3px;
    font-size: 16px;
    line-height: 28px;
    text-indent: 0;
}

.sub-content__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    background-color: #15a98c;
    border-radius: 5px;
    margin: 39px 19px 0 0;
}

.sub-content__button:hover
{
    background-color: #098d71;
}

.sub-content__button__text
{
    font-family: Georgia, sans-serif;
    color: #f5f5f5;  
}

.main-form
{
    width: 540px;
    margin-top: 67px;
}

.main-form__input-field
{
    width: 532px;
    height: 44px;
    border: solid 2px #c9c9c9;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    text-indent: 17px;
    font-size: 18px;
    color: #555;
}

.main-form__input-field:focus
{
    border-color: #15a98c;
    outline: 0; 
}

.main-form__list
{
    width: 540px;
    height: 50px;
    border: solid 2px #c9c9c9;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 43px;
    font-family: 'Open Sans', sans-serif;
    text-indent: 17px;
    font-size: 18px;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('photo/arrow.png') no-repeat right;
}

.main-form__list:focus
{
    border-color: #15a98c;
    outline: 0;    
}

.main-for__list__option
{
    font-family: 'Open Sans', sans-serif;
    text-indent: 17px;
    font-size: 18px;
    color: #777;
}


.main-form__label
{
    font-size: 20px;
    margin-left: 0px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.main-form__radio
{
    margin-top: 17px;
    margin-left: 0px;
    margin-bottom: 47px;
}

.main-form__radio_second
{
    margin-top: 17px;
    margin-left: 35px;
}

.main-form__radio__text
{
    color: #333;
    font-size: 18px;
    text-indent: 0  ;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.main-form__input-field_message
{
    width: 532px;
    height: 144px;
    border: solid 2px #c9c9c9;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    text-indent: 17px;
    font-size: 18px;
    color: #555;
}

.main-form__input-field_message:focus
{
    border-color: #15a98c;
    outline: 0;    
}

.main-form__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    background-color: #15a98c;
    border-radius: 5px;
    margin-top: 3px;
    border: none;
    font-family: Georgia, sans-serif;
    font-size: 19px;
    color: #f5f5f5;  
}

.main-form__button:hover
{
    background-color: #098d71;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
    margin-left: -20px;
    font-size: 16px;
}

.required
{
    color: #ee0707;
    font-weight: bold;
}
