.body
{
    margin: 0;
    color: #555;
    font-family: 'Georgia', serif;
	
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
}

.main-container 
{
	display: flex;
    align-items: center; 
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
}

.header
{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.header__button
{
    display: flex;
    align-items: center;
    width: auto;
    height: inherit;
    background-color: white;
	
	font: bold 7px 'Georgia', 'Times New Roman', Times, serif;
	
    padding: 0 0 0 10px;
    color: #333;
}

.header__button__text
{
    margin-left: 7px;
    margin-right: 10px;
}

.header__button:hover
{
    background-color: #15a98c;
	color: white;
}

.header__button__image_first
{
	width: 8px;
	height: 9px;
	background: url('photo/person.png') no-repeat;
    background-size: cover;
}

.header__button:hover .header__button__image_first
{
	background: url('photo/person_white.png') no-repeat;
    background-size: cover;
}

.header__button__image_second
{
	width: 9px;
	height: 9px;
	background: url('photo/heart.png') no-repeat;
    background-size: cover;
}

.header__button:hover .header__button__image_second
{
	background: url('photo/heart_white.png') no-repeat;
    background-size: cover;
}

.header__button__image_third
{
	width: 9px;
	height: 8px;
	background: url('photo/film.png') no-repeat;
    background-size: cover;
}

.header__button:hover .header__button__image_third
{
	background: url('photo/film_white.png') no-repeat;
    background-size: cover;
}

.main-container__image
{
    display: block;
    position: relative;

    width: 100vw;
    height: 20.8vw;
    max-height: 500px;
    max-width: 1920px;
    min-height: 100px;
    
    z-index: -1;
}

.main-title 
{
	font: bold 24px 'Open Sans', sans-serif;
	
    text-indent: 3px;
    color: #333;
}

.main-title:after
{
	content: " ";
	display: block;
	width: 40px;
	height: 4px;
	background: #45c3aa;
	border-radius: 10px;
	margin-top: 20px;
}

.section-title
{
	font: 300 20px 'Open Sans', sans-serif;
	color: #333;
	text-transform: uppercase;
	margin: 101px 10px 0 0;
}

.section-title:after
{
	content: " ";
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #c4c4c4;
	border-radius: 10px;
	margin: 0 0 12px 10px;
}

.section-title:before
{
	content: " ";
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #c4c4c4;
	margin: 0 10px 12px 0;
}

.sub-title
{
	font: 400 19px/0 'Open Sans', sans-serif;
    color: #333;
	margin: 44px 0 30px -1px;
	letter-spacing: 0px;
}

.info-lists__title
{
	font: 600 13px "Open Sans", sans-serif;
    color: #15a98b;
    padding-left: 26px;
}

.nametage-title
{
	font: bold 16px/0 'Open Sans', sans-serif;
	
	margin: 39px 0 30px -3px;
    color: #333;
}

.link__line-under
{
    text-decoration: underline;
}

.link:hover
{
    cursor: pointer;
    color: #098d71;
}

.main
{
    display: flex;
	flex-direction: column;
    align-items: center;

    height: auto;
    width: 100%;
	
	margin: -15vw 20px 0;
}

.left-container
{
    display: flex;
	flex-direction: column;
    align-items: center;

    width: 60%;
    height: inherit;
}

.right-container
{
    display: flex;
	flex-direction: column;
    margin-top: 20px;

    width: 60%;
    height: inherit;
}


.photo-container
{
    width: 40vw;
    height: 47vw;
}

.photo-container__image
{
    width: inherit;
    height: inherit;
    object-fit: cover;

	border-radius: 5px;
}

.info-lists
{
    display: flex;
	flex-direction: row;
	margin: 20px 0 0 -18px;

    width: 100%;
    height: auto;
}

.info-lists__element
{
	line-height: 14px;
    font-size: 11px;
}

.info-lists__list-unordered
{
	margin: -11px 0 16px 0;
}
.info-lists__list-ordered
{
	margin: -12px 0 0 -2px;
}

.quote-container
{
    width: 100%;
    height: 300px;
}

.quote
{
    display: block;
    text-indent: 40px;
	margin: -3px 0 0 -37px;
    color: #333;
}

.quote__content
{
    font-size: 13px;
    font-style: italic;
    text-indent: 0;
	line-height: 14px;
    margin-right: 0;
}

.quote__owner
{
	font: 600 7px/0 'Open Sans', sans-serif;
	margin: -5px 0 0 3px;
}

.text-container
{
    display: flex;
	flex-direction: column;
    margin-top: -240px;
    font: 300 12px 'Georgia', serif;

    width: 100%;
    height: auto;
}

.text-container__text
{
	margin-top: 12px;
	line-height: 21px;
}

.text-container__text_sub
{
	margin-top: 6px;
	line-height: 21px;
}

.link
{
    color: #15a98b;
	line-height: 76px;
}

.sub-container
{
    width: 65%;
    height: auto;
    margin-top: 48px;
    text-indent: 1px;
}

.sub-content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 54px;
}

.sub-content__block
{
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-top: 10px;
}

.sub-content__block__image
{
    width: inherit;
    height: 66.6%;
    border-radius: 5px;
}
.sub-content__block__text
{
	font: 10px 'Georgia', serif;
    margin-top: 3px;
    line-height: 15px;
    text-indent: 0;
}

.sub-content__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27vw;
    height: 7vw;
    background-color: #15a98c;
    border-radius: 5px;
    margin: 38px 19px 0 0;
}

.sub-content__button:hover
{
    background-color: #098d71;
}

.sub-content__button__text
{
    font: 10px 'Georgia', sans-serif;
    color: #f5f5f5;  
}

.main-form
{
    width: 70%;
    margin-top: 67px;
}

.main-form__input-field
{
    width: 66vw;
    height: 8vw;
    border: solid 2px #c9c9c9;
    border-radius: 2px;
	margin: 6px 0 26px 0;
	font: 12px 'Open Sans', sans-serif;
    text-indent: 17px;
    color: #555;
}

.main-form__input-field:focus
{
    border-color: #15a98c;
    outline: 0; 
}

.main-form__list
{
    width: 68vw;
    height: 9vw;
    border: solid 2px #a6a6a6;
    border-radius: 2px;
	margin: 5px 0 43px 0;
	font: 12px 'Open Sans', sans-serif;
    padding-left: 17px;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('photo/arrow.png') no-repeat right;
}

.main-form__list::-ms-expand
{
	display: none;
}

.main-form__label_list
{
    margin-left: 0px;
    color: #333;
	font: normal 15px/17px 'Open Sans', sans-serif;
}

.main-form__list:focus
{
    border-color: #15a98c;
    outline: 0;    
}

.main-for__list__option
{
	font: 16px 'Open Sans', sans-serif;
    color: #777;
}


.main-form__label
{
    margin-left: 0px;
    color: #333;
	font: normal 15px 'Open Sans', sans-serif;
}

.main-form__radio
{
	margin: 17px 3px 47px 1px;
}

.main-form__radio_second
{
	margin: 17px 3px 0 36px;
}

.main-form__radio__text
{
    color: #333;
	font: normal 12px/0 'Open Sans', sans-serif;
}

.main-form__input-field_message
{
    width: 66vw;
    height: 25vw;
    border: solid 2px #a6a6a6;
    border-radius: 2px;
	margin: 6px 0 26px 0 ;
	font: 12px 'Open Sans', sans-serif;
    text-indent: 17px;
    color: #555;
}

.main-form__input-field_message:focus
{
    border-color: #15a98c;
    outline: 0;    
}

.main-form__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 25px;
    background-color: #15a98c;
    border-radius: 5px;
    margin-top: 3px;
    border: none;
	font: 11px 'Georgia', sans-serif;
    color: #f5f5f5;  
}

.main-form__button:hover
{
    background-color: #098d71;
}

.footer
{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 40px 0 0 0;
    font-size: 10px;
    text-align: center;
}

.required
{
    color: #ee0707;
    font-weight: bold;
}

@media screen and (min-width: 425px)
{
    .sub-content__block
    {
        width: 130px;
    }

    .nametage-title
    {
        font-size: 12px;
    }

    .header
    {
        width: 65%;
    }

    .header__button
    {  
        font-size: 8px;
    }

    .header__button__image_first
    {
        width: 8px;
        height: 9px;
    }
    
    .header__button__image_second
    {
        width: 9px;
        height: 9px;
    }

    .header__button__image_third
    {
        width: 9px;
        height: 8px;
    }

    .sub-content
    {
        justify-content: space-between;
    }
}
   

@media screen and (min-width: 768px)
{
    .header
    {
        width: 50%;
    }

     .header__button
    {  
        font-size: 9px;
    }

    .header__button__image_first
    {
        width: 9px;
        height: 10px;
    }

    .header__button__image_second
    {
        width: 10px;
        height: 10px;
    }

    .header__button__image_third
    {
        width: 10px;
        height: 9px;
    }

    .photo-container
    {
        width: 20vw;
        height: 23vw;
    }

    .main
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: -12vw; 

        height: auto;
        width: 60%;
    }

    .left-container
    {
        align-items: flex-start;
        width: 33%;
        height: inherit;
    }

    .photo-container
    {
        width: 100%;
        height: 24vw;
    }

    .info-lists
    {
        flex-direction: column;
        margin: 20px 0 0 -18px;
    }

    .info-lists__element
    {
        line-height: 18px;
    }
    
    .quote
    {
        color: white;
    }

    .quote__content
    {
        font-size: 16px;
        line-height: 15px;
    }

    .quote__owner
    {
        font-size: 8px;
    }

    .text-container
    {
        margin-top: -200px;
        font: 300 12px 'Georgia', serif;

        width: 100%;
        height: auto;
    }

    .main-title:after
    {
        width: 30px;
        height: 3px;
        margin-top: 15px;
    }

    .sub-content
    {
        margin: 0 30px;
    }

    .sub-content__block
    {
        width: 180px;
    }

    .nametage-title
    {
        font-size: 16px;
    }

    .sub-content__block__text
    {
        font-size: 11px;
    }

    .sub-content__button
    {
        width: 120px;
        height: 35px;
    }

    .sub-content__button__text
    {
        font-size: 12px
    }

    .section-title
    {
        font-size: 23px;
    }

    .section-title:after
    {
        width: 80px;
    }

    .section-title:before
    {
        width: 80px;
    }

    .main-form
    {
        width: 50%;
    }

    .main-form__input-field
    {
        width: 100%;
        height: auto;
        font-size: 13px;
        line-height: 40px;
    }

    .main-form__input-field_message
    {
        width: 100%;
        font-size: 13px;
    }

    .main-form__list
    {
        width: 102%;
        height: auto;
        font-size: 13px;
        padding-left: 17px;
        line-height: 40px;
    }

    .main-form__button
    {
        width: 130px;
        height: 35px;
        font-size: 14px; 
    }

}

@media screen and (min-width: 1024px)
{
    .header__button
    {  
        font-size: 10px;
    }

    .info-lists__title
    {
        font-size: 16px;
    }

    .info-lists__element
    {
        line-height: 19px;
        font-size: 14px;
    }

    .quote__content
    {
        font-size: 20px;
        line-height: 17px;
    }

    .quote__owner
    {
        font-size: 9px;
    }

    .text-container
    {
        margin-top: -200px;
        font: 300 14px 'Georgia', serif;

        width: 100%;
        height: auto;
    }
    
    .main-title
    {
        font-size: 27px;
    }

    .main-title:after
    {
        width: 40px;
        height: 4px;
        margin-top: 15px;
    }

    .sub-container
    {
        width: 70%;
    }

    .sub-content
    {
        margin: 0;
        justify-content: space-between;
    }

    .sub-content__block
    {
        width: 170px;
    }

    .sub-title
    {
        font-size: 23px;
    }

    .nametage-title
    {
        font-size: 16px;
    }

    .sub-content__block__text
    {
        font-size: 12px;
    }

    .sub-content__button
    {
        width: 140px;
        height: 40px;
    }

    .sub-content__button__text
    {
        font-size: 14px
    }

    .section-title
    {
        font-size: 27px;
    }

    .section-title:after
    {
        width: 120px;
    }

    .section-title:before
    {
        width: 120px;
    }

    .main-form__input-field
    {
        font-size: 15px;
        line-height: 45px;
    }

    .main-form__input-field_message
    {
        font-size: 15px;
    }

    .main-form__list
    {
        font-size: 15px;
        line-height: 45px;
    }

    .main-form__label
    {
        font-size: 18px;
    }

    .main-form__label_list
    {
        font-size: 18px;
    }

    .main-form__radio__text
    {
        font-size: 15px;
    }

    .main-form__button
    {
        width: 150px;
        height: 40px;
        font-size: 15px; 
    }

    .footer__text
    {
        font-size: 13px;
    }
}

@media screen and (min-width: 1440px) 
{
    .header
    {
        width: 50%;
    }
    
    .header__button
    {
        font-size: 17px;
        font-weight: normal;
        padding: 0 21px;
        text-indent: 10px;
    }

    .photo-container
    {
        width: 100%;
        height: 350px;
    }

    .header__button__text
    {
        margin-left: 0;
        margin-right: 0;
    }

    .header__button__image_first
    {
        width: 12px;
        height: 14px;
    }

    .header__button__image_second
    {
        width: 14px;
        height: 14px;
    }

    .header__button__image_third
    {
        width: 14px;
        height: 12px;
    } 

    .info-lists__title
    {
        font-size: 23px;
    }

    .info-lists__element
    {
        line-height: 30px;
        font-size: 18px
    }

    .quote__content
    {
        font-size: 26px;
        line-height: 36px;
    }

    .quote__owner
    {
        font-size: 13px;
    }

    .text-container
    {
        margin-top: -120px;
        font-size: 18px;
    }
    .text-container__text
    {
        line-height: 30px;
    }
    
    .text-container__text_sub
    {
        line-height: 30px;
    }

    .main-title 
    {
        font-size: 44px;
    }

    .main-title:after
    {
        width: 60px;
        height: 6px;
        margin-top: 20px;
    }

    .section-title
    {
        font-size: 33px;
    }

    .section-title:after
    {
        width: 200px;
        height: 1px;
    }

    .section-title:before
    {
        width: 200px;
        height: 1px;
    }

    .sub-title
    {
        font-size: 33px;
    }

    .nametage-title
    {
        font-size: 20px;
    }

    .sub-container
    {
        width: 70%; /*1200px 60p*/
    }

    .sub-content__block
    {
        width: 240px;
        margin: 0;
    }

    .sub-content__block__text
    {
        font-size: 15px;
        line-height: 26px;
    }

    .sub-content__button
    {
        width: 220px;
        height: 50px;
    }    
    
    .sub-content__button__text
    {
        font-size: 18px;
    }

    .main-form
    {
        width: 540px;
        margin-top: 67px;
    }

    .main-form__input-field
    {
        width: 532px;
        height: 44px;
        font-size: 18px;
        text-indent: 17px;
    }

    .main-form__list
    {
        width: 540px;
        height: 50px;
        font-size: 18px;
    }

    .main-form__label_list
    {
        font: normal 20px/30px 'Open Sans', sans-serif;
    }

    .main-for__list__option
    {
        font-size: 18px;
    }

    .main-form__label
    {   
        font-size: 20px;
    }

    .main-form__radio__text
    {
        font-size: 18px;
    }

    .main-form__input-field_message
    {
        width: 532px;
        height: 144px;
        font-size: 18px;
    }

    .main-form__button
    {
        width: 220px;
        height: 50px;
        font-size: 19px;
    }

    .footer
    {
        margin: 57px 0 0 -20px;
        font-size: 16px;
    }

}


@media screen and (min-width: 1920px) 
{
    .header__button
    {
        font-size: 19px;
        line-height: 14px;
    }

    .main
    {
        margin-top: -191px;
        width: 960px;
    }

    .header__button__image_first
    {
        width: 14px;
        height: 16px;
    }

    .header__button__image_second
    {
        width: 16px;
        height: 16px;
    }

    .header__button__image_third
    {
        width: 16px;
        height: 14px;
    } 

    .left-container
    {
        width: 330px;
    }
    
    .photo-container
    {
        width: 330px;
    }

    .info-lists__title
    {
        font-size: 24px;
        margin-left: -9px;
    }

    .info-lists__element
    {
        line-height: 36px;
        font-size: 19px
    }
    
    .right-container
    {
        margin: -1px 0 0 60px;
    }

    .quote__content
    {
        font-size: 28px;
        line-height: 42px;
        margin: 28px 40px;
    }

    .quote__owner
    {
        font-size: 16px;
    }

    .text-container
    {
        margin-top: -109px;
        font-size: 19px;
    }
    .text-container__text
    {
        line-height: 32px;
    }
    
    .text-container__text_sub
    {
        line-height: 32px;
    }

    .main-title 
    {
        font-size: 48px;
    }

    .main-title:after
    {
        width: 60px;
        height: 6px;
        margin-top: 20px;
    }

    .section-title
    {
        font-size: 36px;
    }

    .section-title:after
    {
        width: 200px;
        height: 1px;
    }

    .section-title:before
    {
        width: 200px;
        height: 1px;
    }

    .sub-title
    {
        font-size: 36px;
    }

    .nametage-title
    {
        font-size: 22px;
        margin-top: 59px;
    }

    .sub-container
    {
        margin-top: 47px;
        width: 1200px;
    }

    .sub-content__block
    {
        width: 285px;
        margin-top: 25px;
    }

    .sub-content__block__text
    {
        font-size: 16px;
        line-height: 28px;
    }

    .sub-content__button
    {
        width: 220px;
        height: 50px;
        margin: 150px 0 0 -20px;
    }    
    
    .sub-content__button__text
    {
        font-size: 19px;
    }

    .main-form
    {
        width: 540px;
        margin-top: 67px;
    }

    .main-form__input-field
    {
        width: 532px;
        height: 44px;
        font-size: 18px;
        text-indent: 17px;
    }

    .main-form__list
    {
        width: 540px;
        height: 50px;
        font-size: 18px;
    }

    .main-form__label_list
    {
        font: normal 20px/30px 'Open Sans', sans-serif;
    }

    .main-for__list__option
    {
        font-size: 18px;
    }

    .main-form__label
    {   
        font-size: 20px;
    }

    .main-form__radio__text
    {
        font-size: 18px;
    }

    .main-form__input-field_message
    {
        width: 532px;
        height: 144px;
        font-size: 18px;
    }

    .main-form__button
    {
        width: 220px;
        height: 50px;
        font-size: 19px;
        margin-top: 5px;
    }

    .footer
    {
        margin: 59px 0 0 -20px;
    }

    .footer__text
    {
        font-size: 16px;
    }
}
