.body
{
    margin: 0;
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 19px;
    color: #555;
	
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.main-container 
{
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;

	height: 100vh;
    width: 100%;
	margin: 10vh 0 40vh;
}


.main-title 
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #333;
}

.main-title:after
{
	content: " ";
	display: block;
	width: 60px;
	height: 6px;
	background: #45c3aa;
	border-radius: 10px;
	margin-top: 21px;
}

.sub-title
{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #333;
	margin-top: 58px;
	letter-spacing: 1px;
	line-height: 0	;
}

.info-lists__title
{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #15a98b;
    padding-left: 18px;
}

.link__line-under
{
    text-decoration: underline;
}

.link:hover
{
    cursor: pointer;
}

.main
{
    display: block;
    position: absolute;

    height: 100vh;
    width: 960px;
	
	margin: 0 20px;
}

.left-container
{
    display: block;
    position: absolute;

    width: 330px;
    height: inherit;
}

.photo-container
{
    position: absolute;

    width: 100%;
    height: 350px;
}

.photo-container__image
{
    width: inherit;
    height: inherit;
    object-fit: cover;

	border-radius: 5px;
}

.info-lists
{
    position: absolute;
    top: 370px;
    left: -18px;

    width: 100%;
    height: auto;
}

.info-lists__element
{
	line-height: 36px;
}

.info-lists__list-unordered
{
	margin: -13px 0 42px 0;
}
.info-lists__list-ordered
{
	margin: -13px 0 0 -3px;
}


.right-container
{
    display: block;
    position: absolute;

    width: 570px;
    height: inherit;

    right: 0;
}

.quote-container
{
    position: absolute;
    top: 50px;

    width: 100%;
    height: 300px;
}

.quote
{
    display: block;
    position: absolute;
    top: 42px;
	left: 20px;
    text-indent: 40px;
}

.quote__content
{
    color: #848484;
    font-style: italic;
    font-size: 28px;
    text-indent: 0;
	line-height: 40px;
}

.quote__owner
{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	color: black;
	line-height: 0;
}

.quote-container__image
{
    display: block;
    position: absolute;
}

.text-container
{
    display: block;
    position: absolute;
    top: 350px;

    width: 100%;
    height: auto;
}

.text-container__text
{
	margin-top: 42px;
	line-height: 33px;
}

.text-container__text_sub
{
	margin-top: 36px;
	line-height: 32px;
}

.link
{
    color: #15a98b;
	line-height: 78px;
}
