.body
{
    margin: 0;
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 19pt;
    color: #555;
	
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.main_container 
{
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;

	height: 100vh;
    width: 100%;
	margin: 10vh 0 40vh;
}

.quote_content
{
    color: #848484;
    font-style: italic;
    font-size: 28pt;
    text-indent: 0;
}

.main_title 
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 48pt;
    color: #333;
}

.main_title:after
{
	content: " ";
	display: block;
	width: 40px;
	height: 5px;
	background: #45c3aa;
	border-radius: 10px;
	margin-top: 20px;
}

.sub_title
{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-size: 36pt;
    color: #333;
}

.list_title
{
    font-size: 24pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #15a98b;
    padding-left: 20px;
}

.link
{
    color: #15a98b;
}

.line_under
{
    text-decoration: underline;
}

.link:hover
{
    cursor: pointer;
}

.main
{
    display: block;
    position: absolute;

    height: 100vh;
    width: 960px;
	
	margin: 0 20px;
}

.left_container
{
    display: block;
    position: absolute;

    width: 330px;
    height: inherit;
}

.photo_container
{
    position: absolute;

    width: 100%;
    height: 350px;
}

.photo
{
    width: inherit;
    height: inherit;
    object-fit: cover;  
}

.info_lists
{
    position: absolute;
    top: 400px;
    left: -20px;

    width: 100%;
    height: auto;
}


.right_container
{
    display: block;
    position: absolute;

    width: 570px;
    height: inherit;

    right: 0;
}

.quote_container
{
    position: absolute;
    top: 50px;

    width: 100%;
    height: 300px;
}

.quote
{
    display: block;
    position: absolute;
    top: 50px;
    text-indent: 40px;
}

.quote_owner
{
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.quote_image
{
    display: block;
    position: absolute;
}

.text_container
{
    display: block;
    position: absolute;
    top: 400px;

    width: 100%;
    height: auto;
}
